@import "../common/variable.scss";

.coursesOffered {
  position: relative;
  overflow: hidden;
  background: url(/assets/images/home/coursesOfferedBg.svg);

  .coursesOfferedInnerBox {
    .heading {
      font-family: Merriweather;
      font-size: 24px;
      font-weight: 400;
      line-height: 30.17px;
      text-align: left;
      color: $text-navyBlue;
      margin-bottom: 0.5rem;
    }

    .subTitle {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 21.6px;
      text-align: center;
      color: $text-black;
      margin-bottom: 1.5rem;
    }

    .rightBottomCorner {
      position: absolute;
      background: url(/assets/images/home/courseOfferedRightBottomCircle.svg) no-repeat;
      width: 731px;
      height: 268px;
      background-size: contain;
      bottom: 0;
      right: 0;
    }

    .courseSectorCard {
      background-color: transparent;

      .cardBody {
        border: 1px solid #DBDBDB;
        border-top: 0;
        border-radius: 0 0 0 30px;
        background-color: $text-white;height: 100%;
      }

      .sectorType {
        // height: 100%;
        // min-height: 196px;

        .sectorTypeBox {
          .cardImg {
            border-radius: 0;
          }

          .sectorInfo {
            position: absolute;
            top: 60px;
            left: 16px;
            color: $text-white;

            .cardTitle {
              font-family: Montserrat;
              font-size: 12px;
              font-weight: 500;
              line-height: 1;
              text-align: justify;
              margin-bottom: 0;
            }

            .sectorName {
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 800;
              line-height: 24px;
              letter-spacing: 0.02em;
              text-align: left;
            }

            .certifiedByBox {
              position: absolute;
              left: 0;
              bottom: 20px;
              top: 85px;

              .certifiedBy {
                font-family: Montserrat;
                font-size: 10px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.02em;
                text-align: justify;
                color: $text-white;
              }

              .universityName {
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 800;
                line-height: 19.2px;
                letter-spacing: 0.02em;
                text-align: justify;
                color: $text-white;
                text-wrap: nowrap;
              }
            }
          }
        }

      }

      .cardText {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 19.2px;
        color: $text-black;
        margin-bottom: 20px;
      }

      .courseDuration {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: justify;

      }
    }

    .viewMoreLink {
      color: $text-orange;
      padding: 0;
    }
  }
}