@import "../../common/variable.scss";

.topDonarSlider {
  position: relative;
  overflow: hidden;
  background: $bg-white;
  margin-bottom: 60px;

  .topDonarSliderInnerBox {
    .titleHeading {
      font-family: "Open Sans";
      font-weight: 600;
      font-style: "SemiBold";
      font-size: 16px;
      line-height: 1.5;
      color: $text-charcolBlack;
    }

    .donarCountvalues {
      font-family: Open Sans;
      font-weight: 800;
      font-style: "ExtraBold";
      font-size: 32px;
      line-height: 1.5;
      color: $text-navyBlue;
    }

    .donarInfoCard {
      display: block;
      box-shadow: 0px 2px 22px 0px #0000001F;
      border-radius: 120px;
      padding: 1rem 2rem;
      margin: 1rem auto;

      .labelText {
        font-family: "Open Sans";
        font-weight: 800;
        font-style: "ExtraBold";
        font-size: 20px;
        line-height: 1.5;
        color: $text-black;
        margin-bottom: 8px;
      }

      .valueText {
        font-family: "Open Sans";
        font-weight: 600;
        font-style: "SemiBold";
        font-size: 16px;
        line-height: 1.5;
        color: $text-black;

      }
    }
  }

  .waConnect {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
  }
}