@import "../../common/variable.scss";

.stickyWorkStationSection {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 1;


  .workStation {
    width: 54px;
    height: 54px;
    background-color: $bg-orange;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: "Regular";
    font-size: 18px;
    line-height: 1.5;
    color: $text-black;
    cursor: pointer;
  }
}