@import "../../common/variable.scss";

.topCarousel {
  .carouselCaption {
    width: 95%;
    left: 4%;
    bottom: 5%;
    padding: 0;
  }

  .outlinedBtn {
    min-width: 200px;
    border: 2px solid $text-white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.02em;
    box-shadow: 0px 4px 4px 0px #0000008C;
    position: absolute;
    bottom: 10%;
  }
}

.newsTicker {
  display: flex;
  align-items: center;
  height: 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: $bg-blue;
  margin-bottom: 1rem;
}

.newsLabel {
  background-color: gold;
  color: black;
  padding: 0 15px;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0%;
  position: relative;
  z-index: 1;
}

.marqueeWrapper {
  color: white;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.marqueeText {
  // position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}