@import "../common/variable.scss";

.aboutSection {
  margin: 0 3rem 54px;

  .cmImg {
    max-height: 342px;
  }

  .heading {
    font-family: "Open Sans";
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 30px;
    line-height: 1.5;
    color: $text-black;
  }

  .paraText {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $text-black;
  }

  .countCard {
    min-height: 280px;
    background-color: #D9E8FD;
    font-family: "Open Sans";
    line-height: 1.5;
    text-align: center;
    color: $text-black;
    border-radius: 4px;
    padding: 2rem;

    .labelText {
      font-weight: 400;
      font-size: 18px;
    }

    .valueText {
      font-weight: 700;
      font-size: 40px;
    }
  }

  .creamBgCard {
    background-color: $bg-cream;
    min-height: 218px;
  }

  .lightBlueBgCard {
    background-color: #D9E8FD;
    min-height: 218px;
  }

  .orangeBgCard {
    background-color: $bg-orange;
  }
}