@import "../../common/variable.scss";

.eventCarouselSection {

  .carouselItem {
    padding: 4px;
    background-color: $bg-white;
    border-radius: 12px;

    img {
      border-radius: 8px;
    }
  }

  .carouselCaption {
    position: relative;
    right: inherit;
    left: inherit;
    bottom: inherit;
    color: $text-black;
    padding: 1rem;

    .captionHeading {
      font-family: "Open Sans";
      font-weight: 600;
      font-style: SemiBold;
      font-size: 16px;
      line-height: 1.5;
      color: #000;
    }

    .captionText {
      font-family: "Open Sans";
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 1.5;
      color: #000;
    }
  }
}