$black: #000000;
$charcolBlack: #343330;
$white: #ffffff;
$blue: #0163F0;
$lightBlue: #D9E8FD;
$cream: #FAF2E2;
$orange: #FABC41;
$navyBlue: #08517A;


// Text Colors
$text-black: #263238;
$text-charcolBlack: #343330;
$text-white: #ffffff;
$text-blue: #0163F0;
$text-lightBlue: #D9E8FD;
$text-cream: #FAF2E2;
$text-orange: #FABC41;
$text-navyBlue: #08517A;



// Background Colors
$bg-black: #000000;
$bg-charcolBlack: #343330;
$bg-white: #ffffff;
$bg-blue: #0163F0;
$bg-lightBlue: #D9E8FD;
$bg-cream: #FAF2E2;
$bg-orange: #FABC41;
$bg-navyBlue: #08517A;