$black: #000000;
$white: #ffffff;
$orange: #FF6600;
$yellow: #FDF12D;


// Text Colors
$text-black: #212121;
$text-white: #ffffff;
$text-gray: #444444;
$text-orange: #FF6600;
$text-navyBlue:#003366;
$text-yellow:#FDF12D;


// Background Colors
$bg-black:#000000;
$bg-white:#ffffff;
$bg-orange:#FF6600;
$bg-navyBlue:#003366;
$bg-yellow:#FDF12D;