@import "../common/variable.scss";

.operatingModalPurpose {
  background: url(/assets/images/home/operatingModelProposedBg.svg) no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;

  .operatingModalPurposeInnerBox {
    @media(max-width:767px) {
      padding: 2rem 1rem;
    }

    .heading {
      font-family: Merriweather;
      font-size: 24px;
      font-weight: 400;
      line-height: 30.17px;
      text-align: left;
      color: $text-navyBlue;
      margin-bottom: 0.5rem;
    }

    .subTitle {
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      line-height: 21.6px;
      text-align: center;
      color: $text-black;
      margin-bottom: 1.5rem;
    }

    .operatingModalCard {
      border: none;
      border-radius: 30px 30px 0 30px;
      height: 100%;
      margin: 0 auto;
      max-width: 13.5rem;

      @media (max-width:767px) {
        max-width: 100%;
      }

      .cardBody {
        padding: 27px 20px 18px 20px;

        .cardTitle {
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 800;
          line-height: 28.8px;
          text-align: left;
        }

        .cardText {
          font-family: Montserrat;
          font-size: 12px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: justify;
        }

        .cardImg {
          max-width: 120px;
          margin: 0 auto;
          margin-bottom: 8px;
        }
      }

      .viewMoreLink {
        display: block;
        color: $text-orange;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
}