// @import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import "node_modules/bootstrap/scss/bootstrap";
/* The following line can be included in a src/App.scss */
@import "./components/common/variable.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ms-auto {
  margin-left: auto;
}

.text-end {
  text-align: right;
}

.btnOrange {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  text-align: left;
  background-color: $bg-orange;
  color: $text-white;
  border-radius: 28px;
  padding: 11px 12px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  visibility: hidden;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.sliderContainer {
  @media (max-width:991px) {
    margin: 0 1rem;
  }

  @media(max-width:767px) {
    margin: 1rem 2rem;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    display: flex !important;
    // justify-content: center;
    // align-items: center;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-arrow {
    font-size: 22px;
    color: $text-black;
  }

  .slick-disabled {
    opacity: 0;
  }
}

.topCarousel .carousel-control-prev,
.topCarousel .carousel-control-next {
  height: 72px !important;
  width: 39px !important;
  background: #00000066;
  margin: auto;
}

.topCarousel .carousel-control-prev {
  left: 50px;
}

.topCarousel .carousel-control-next {
  right: 50px;
}

.topCarousel .carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.operatingCard {
  &.card1 {
    background: linear-gradient(180deg, #94FFE4 0%, #F2FFFC 100%);
  }

  &.card2 {
    background: linear-gradient(180deg, #FCD4A7 0%, #FFF6EC 100%);
  }

  &.card3 {
    background: linear-gradient(180deg, #FCAD90 0%, #FFEFEA 100%);
  }

  &.card4 {
    background: linear-gradient(180deg, #7DDBFF 0%, #D6F3FF 100%);
  }
}

.sustainableDevelopmetGoalCard {
  &.goalCard1 {
    background-color: #FFE7EA;
  }

  &.goalCard2 {
    background-color: #FFF5E0;
  }

  &.goalCard3 {
    background-color: #E2FFE0;
  }

  &.goalCard4 {
    background-color: #FFF8F8;
  }

  &.goalCard5 {
    background-color: #FFF2F0;
  }

  &.goalCard6 {
    background-color: #FFF8E1;
  }

  &.goalCard7 {
    background-color: #FFF0E9;
  }

  &.goalCard8 {
    background-color: #FFEAF5;
  }

  &.goalCard9 {
    background-color: #EEF9FF;
  }

  &.goalCard10 {
    background-color: #F3FFF1;
  }
}

.topHeaderOffcanvasMenus .nav-link {
  &.active {
    color: $text-orange !important;
  }
 
  @media (max-width:991px) {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
}

.topHeaderOffcanvasMenus .offcanvas-header .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width:991px) {
  .navbar-toggler {
    position: absolute;
    left: 10px;
    border: none;
    padding: 0;
    z-index: 1;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .navbar-toggler {
    top: -44px;
  }
}

@media (min-width:415px) and (max-width:767px) {
  .navbar-toggler {
    top: -40px;
  }
}

@media (max-width:414px) {
  .navbar-toggler {
    top: -55px;
  }
}